.App {
  text-align: center;

}


body {
  background-color: "#bacfbb";
  padding: 0;
  margin: 0;
}
.sub-headings {
  font-size: 1.5em;
  padding: 0 15%;
  
}

 .headings {
  font-size: 2.0em;
  padding: 0 15%;
}

ol {
  text-align: center;
  padding: 0%;
  font-size: 1.5em;
}
.field {
  height: 50px;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  
}

#check-answer {
  height: 50px;
  width: 100%;
  background-color: #4CAF50; /* Green */
  color: white;
  font-size: 1.5em;
}
.user-input {
  margin: 0 15%;
}